{% extends "tcms_base.html" %}
{% load static %}

{% block subtitle %}{{ cmt_public_data }}{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "style/print.css" %}" media="print" />
<style>
    .display_summary textarea{ background:red; }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static "style/cmt.css" %}" />
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{% static "js/cmtpublicdata.js" %}"></script>
<script type="text/javascript" src="{% static "js/cmtutil.js" %}"></script>
<script type="text/javascript" src="{% static "js/nitrate.testcases.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript">
{#Nitrate.Utils.after_page_load(Nitrate.TestPlans.Edit.on_load);#}
jQ(window).on('load', function (){
    public_data_edit_on_load();
});
</script>
{% endblock %}

{% block content_type %}
	<input type="hidden" name="content_type" value="testplans.testplan" />
	<input type="hidden" name="object_pk" value="{{ cmt_public_data.pk }}" />
	<input type="hidden" name="description" value="{{ cmt_public_data.description }}" />
{#	<input type="hidden" name="description" value="{{ cmt_public_data.latext_text.plan_text }}" />#}
{% endblock %}

{% block contents %}

<div id="content">
	<div class="sprites crumble">
		<a href="{% url "nitrate-index" %}">Home</a>
		>> <a href="{% url "cmt-public-data-all" %}?is_active=on">Public Data</a>
		>> <a href="{{ cmt_public_data.get_absolute_url }}">{{ cmt_public_data.public_data_id }}: {{ cmt_public_data }}</a>
		>> Edit
	</div>
	<input id="id_plan_id" type="hidden" name="plan_id" value="{{ cmt_public_data.public_data_id }}">
	<div class="control">
		<span class="right-bar">
			<a href="{#{% url "plan-text-history" test_plan.plan_id %}#}" class="historylink">
				Edit History
			</a>
		</span>
	</div>
	<form action="{% url "cmt-public-data-edit" cmt_public_data.public_data_id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
		<div id="" class="Detailform border-1">
			<table class="editor" cellspacing="0">
				<tr>
					<td width="20%"><label class="lab strong" id="title_id">Description:</label></td>
					<td>
						<span class="name summary">{{ form.description }}</span>
						<span class="errors">{{ form.description.errors }}</span>
					</td>
				</tr>
				<tr>
					<td><label class="lab strong" id="title_id">Service:</label></td>
					<td>
						<span class="name summary">{{ form.service }}</span>
						<span class="errors">{{ form.service.errors }}</span>
					</td>
				</tr>
                <tr>
					<td><label class="strong">Is Active:</label></td>
					<td>
						<span >{{ form.active_flag }}</span>
					</td>
				</tr>
                <tr class="normal-api-elem">
					<td><label class="lab strong" id="title_id">Public def:</label></td>
					<td>
						<span class="name summary">{{ form.public_def }}</span>
						<span class="errors">{{ form.public_def.errors }}</span>
					</td>
				</tr>
                <tr>
					<td><label class="lab strong" id="title_id">Input:</label></td>
					<td>
						<div class="name summary" id="public_data_input">{{ form.input }}</div>
						<div class="errors">{{ form.input.errors }}</div>
					</td>
				</tr>
                <tr>
					<td><label class="lab strong" id="title_id">Output:</label></td>
					<td>
						<div class="name summary" id="public_data_output">{{ form.output }}</div>
						<div class="errors">{{ form.Output.errors }}</div>
					</td>
				</tr>
			</table>
			<div class="submit-row" id="control_box">
				<input type="submit" value="Save" />
				<input type="reset" value="Reset" />
				<input type="button" value="Back" class="js-back-button" data-action-url="{{ cmt_public_data.get_absolute_url }}" />
			</div>
		</div>
	</form>
</div>
{% endblock %}
